<h1>Article</h1>
<%= form_with do |form| %>
    <div class="form-group">
      <%= label :field, "Article Content" %>
      <%= text_area_tag(:field, nil, class: 'form-control') %>
      <%= form.submit('Submit', class: 'btn btn-primary') %>
    </div>
<% end %>
