<div class="d-flex justify-content-center align-items-center" style="height: 100vh">
  <div class="text-center">
    <h1><span class="orange">Meta</span>Fact</h1>
    <h5 class="mb-3">The modern standard for fact checkers</h5>

    <%= link_to 'See our fact checkers', checkers_path, class: 'btn btn-dark' %>
    <%= link_to 'Fact check an article', new_article_path, class: 'btn btn-primary' %>
  </div>
</div>
